@font-face {
    font-family: poppins;
    src: url(poppins/Poppins-Regular.ttf);
}

body {
    font-family: poppins;
    margin: auto;
}

.whole {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Ankole/contact.jpg);
    height: 100vh;
    background-size: cover;
}

.whole img {
    height: 200px;
    height: 220px;
    margin-left: 42%;
    margin-top: 3%;
}

.both-locations {
    display: flex;
    gap: 1%;
    margin-top: 3%;
    font-size: 30px;
}

.kitisuru {
    margin-left: 25%;
    border: white 3px solid;
    height: 320px;
    width: 20%;
    align-items: center;
    color: white;
    font-size: 15px;
    text-align: left;
    padding-left: 3%;
    font-size: 17px;
}

.kitisuru a {
    color: white;
    text-decoration: none;
}

.kilimani {
    border: white 3px solid;
    height: 380px;
    width: 20%;
    align-items: center;
    color: white;
    font-size: 15px;
    text-align: left;
    padding-left: 3%;
    font-size: 17px;
}

.kilimani a {
    color: white;
    text-decoration: none;
}

.contact-icons {
    display: flex;
    border-color: white;
    font-size: 15px;
}

#ig {
    position: fixed;
    border: 1px solid rgb(94, 91, 91);
    width: 1.7%;
    height: 15px;
    text-align: center;
    border-radius: 70px;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    top: 5vh;
    color: rgb(94, 91, 91);
    left: 92.7%;
    z-index: 5;

    a {
        text-decoration: none;
        color: white;
    }
}

#facebook {
    position: fixed;
    border: 0.5px solid rgb(94, 91, 91);
    width: 1.7%;
    height: 10px;
    text-align: center;
    border-radius: 100px;
    padding-bottom: 0.8%;
    padding-top: 0.5%;
    color: rgb(94, 91, 91);
    left: 95%;
    top: 5vh;


    a {
        text-decoration: none;
        cursor: pointer;
        z-index: 5;
        color: white;

    }
}

#whatsapp {
    right: 4%;
    border: 1px solid rgb(104, 102, 102);
    font-size: xx-large;
    bottom: 6%;
    right: 5%;
    padding: 0.5% 0.7%;
    border-radius: 50%;
    background-color: rgb(22, 20, 20);
    color: rgb(245, 241, 241);
    /* position: absolute; */
    position: fixed;

    a {
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
    }
}

.menu-pop-up {
    position: relative;
    display: inline-block;
}

.menu-list {
    position: absolute;
    top: -35vh;
    width: 20vh;
    padding: 100% 150%;
    border-radius: 1rem;
    display: none;
    z-index: 20;
    background-color: black;
    margin-left: -100%;
}

.menu-pop-up:hover .menu-list {
    display: block;
}

.open-hours {
    position: relative;
    display: inline-block;
    line-height: 1.2;

    h3 {
        margin-bottom: 6%;
    }

    h4 {
        margin-bottom: -3%;
        font-weight: bolder;
    }

    i {
        font-size: 23px;
    }
}

.open-hours-detail {
    top: -34vh;
    width: 20vh;
    margin-left: -100%;
    display: none;
    background-color: white;
    position: absolute;
    padding: 100% 150%;
    border-radius: 1rem;
    color: black;

}

.open-hours:hover .open-hours-detail {
    color: black;
    display: block;
}

nav {
    position: fixed;
    display: flex;
    background-color: rgb(10, 10, 10);
    z-index: 7;
    position: absolute;
    bottom: 1%;
    left: 50%;
    width: 35%;
    align-items: center;
    padding: 0.8% 1.5%;
    border-radius: 3rem;
    border: 1px solid transparent;
    justify-content: space-between;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: medium;

    a {
        text-decoration: none;
        color: white;
    }


    i {
        color: gray;
        font-size: 23px;
    }

    a:hover {
        color: gray;
    }
}


#booking-button {
    height: 35px;
    width: 110px;
    background-color: rgb(90, 88, 88);
    border-radius: 50px;
    border: none;
    font-size: 16px;
    color: white;
    padding-top: 1.5%;
    padding-left: 1%;
}

#booking-button:hover {
    background-color: white;
    color: black;
}







@media only screen and (max-width: 430px) {
    .whole img {
        height: 100px;
        align-items: center;
        margin-left: 38%;
        margin-top: 10%;
    }

    .both-locations {
        flex-direction: column;
        font-size: 10px;
    }
    
    .kitisuru {
        margin-left: 15%;
        border: white 1px solid;
        height: 260px;
        width: 70%;
        align-items: center;
        color: white;
        text-align: center;
        padding-left: 2%;
        font-size: 15px;
        margin-bottom: 5%;
    }

    .kitisuru a {
        color: white;
        text-decoration: none;
    }


    .kilimani {
        margin-left: 15%;
        border: white 1px solid;
        height: 300px;
        width: 70%;
        align-items: center;
        color: white;
        text-align: center;
        padding-left: 2%;
        font-size: 15px;
    }

    .kilimani a {
        color: white;
        text-decoration: none;
    }

    nav {
        position: fixed;
        display: flex;
        background-color: black;
        position: absolute;
        bottom: 8%;
        left: 50%;
        width: 85%;
        border-radius: 3rem;
        border: none;
        justify-content: space-between;
        transform: translate(-50%, -50%);
        cursor: pointer;
        font-size: 10px;


        i {
            color: gray;
            font-size: 10px;
        }
        #clock {
            font-size: 10px;
        }
    }

    #booking-button {
        height: 25px;
        width: 70px;
        border-radius: 50px;
        border: none;
        font-size: 10px;
        padding-top: 1.5%;
        padding-left: 2%;
    }
    #ig {
        position: absolute;
  
        width: 6%;
        height: 15px;
        text-align: center;
        border-radius: 70px;
        padding-bottom: 1%;
        padding-top: 1%;
        top: 5vh;
        color: rgb(94, 91, 91);
        left: 85%;
    
        a {
            text-decoration: none;
            cursor: pointer;
            z-index: 5;
            color: white;
        }
    }
    
    #facebook {
        position: absolute;
        border: 0.5px solid rgb(94, 91, 91);
        width: 5%;
        height: 10px;
        text-align: center;
        border-radius: 100px;
        padding-bottom: 2%;
        padding-top: 0.5%;
        color: rgb(94, 91, 91);
        left: 93%;
        top: 5.2vh;
    
    
        a {
            text-decoration: none;
            cursor: pointer;
            z-index: 5;
            color: white;
    
        }
    }
}



    @media only screen and (min-width: 431px) and (max-width: 768px){


        .whole img {
            height: 200px;
            align-items: center;
            margin-left: 38%;
            margin-top: 10%;
        }

        .both-locations {
            display: flex;
            font-size: 10px;
            margin-top: 7%;
        }
        .kitisuru {
            margin-left:5%;
            border: white 1px solid;
            height: 330px;
            width: 40%;
            color: white;
            padding-left: 4%;
            font-size: 15px;
            margin-bottom: 5%;
        }
    
    
        .kilimani {
            margin-left: 1%;
            border: white 1px solid;
            height: 400px;
            width: 41%;
            align-items: center;
            color: white;
            padding-left: 6%;
            font-size: 15px;
        }
    
        .kilimani a {
            color: white;
            text-decoration: none;
        }
    
        nav {
            position: fixed;
            display: flex;
            background-color: black;
            position: absolute;
            bottom: 8%;
            left: 50%;
            width: 85%;
            border-radius: 3rem;
            border: none;
            justify-content: space-between;
            transform: translate(-50%, -50%);
            cursor: pointer;
            font-size: 17px;
    
    
            i {
                color: gray;
                font-size: 18px;
            }
            #clock {
                font-size: 18px;
            }
        }
    
        #booking-button {
            height: 25px;
            width: 70px;
            border-radius: 50px;
            border: none;
            font-size: 10px;
            padding-top: 1.5%;
            padding-left: 2%;
        }
        #ig {
            position: absolute;
      
            width: 6%;
            height: 15px;
            text-align: center;
            border-radius: 70px;
            padding-bottom: 1%;
            padding-top: 1%;
            top: 5vh;
            color: rgb(94, 91, 91);
            left: 85%;
        
            a {
                text-decoration: none;
                cursor: pointer;
                z-index: 5;
                color: white;
            }
        }
        
        #facebook {
            position: absolute;
            border: 0.5px solid rgb(94, 91, 91);
            width: 5%;
            height: 10px;
            text-align: center;
            border-radius: 100px;
            padding-bottom: 2%;
            padding-top: 0.5%;
            color: rgb(94, 91, 91);
            left: 93%;
            top: 5.2vh;
        
        
            a {
                text-decoration: none;
                cursor: pointer;
                z-index: 5;
                color: white;
        
            }


          }  }
   