@font-face {
    font-family: poppins;
    src: url(poppins/Poppins-Regular.ttf);
}

body {
    font-family: poppins;
    margin: auto;
    overflow-x: hidden;
}

.menu {
    margin-top: 5%;
    margin-left: 4%;
    line-height: 0.6;

    p {
        color: white;
        margin-left: 45%;
        margin-top: 15%;
        font-size: 25px;
    }

    h1 {
        font-size: 60px;
        color: orangered;
        text-align: center;
        margin-right: 2%;
    }
}

.menu img {
    height: 200px;
    width: 270px;
    margin-top: 1%;
    margin-left: 33vh;
    margin-bottom: 10%;
}

.menu-page {
    display: flex;
    overflow-y: hidden;
    height: 100vh;
    font-size: 15px;
}

.menu-pop-up {
    position: relative;
    display: inline-block;
}

.menu-list {
    position: absolute;
    top: -35vh;
    width: 20vh;
    padding: 100% 150%;
    border-radius: 1rem;
    display: none;
    z-index: 20;
    background-color: black;
    margin-left: -100%;
}

.menu-pop-up:hover .menu-list {
    display: block;
}


.open-hours {
    position: relative;
    display: inline-block;
    line-height: 1.2;

    h3 {
        margin-bottom: 6%;
    }

    h4 {
        margin-bottom: -3%;
        font-weight: bolder;
    }

    i {
        font-size: 23px;
    }
}

.open-hours-detail {
    top: -34vh;
    width: 20vh;
    margin-left: -100%;
    display: none;
    background-color: white;
    position: absolute;
    padding: 100% 150%;
    border-radius: 1rem;
    color: black;

}

.open-hours:hover .open-hours-detail {
    color: black;
    display: block;
}

nav {
    position: fixed;
    display: flex;
    background-color: rgb(10, 10, 10);
    z-index: 7;
    position: absolute;
    bottom: 1%;
    left: 25%;
    width: 35%;
    align-items: center;
    padding: 0.8% 1.5%;
    border-radius: 3rem;
    border: 1px solid transparent;
    justify-content: space-between;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: medium;

    a {
        text-decoration: none;
        color: white;
    }


    i {
        color: gray;
        font-size: 23px;
    }

    a:hover {
        color: gray;
    }
}


#booking-button {
    height: 35px;
    width: 110px;
    background-color: rgb(90, 88, 88);
    border-radius: 50px;
    border: none;
    font-size: 16px;
    color: white;
    padding-top: 1.5%;
    padding-left: 1%;
}

#booking-button:hover {
    background-color: white;
    color: black;
}


.left-section {
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Ankole/scarf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
    align-items: center;

}

.right-section {
    width: 50%;
    background-color: black;
    color: white;
    overflow-y: scroll;
}

.list {
    width: 90%;
    margin: auto;
}

.top-bar {
    display: flex;
    align-items: center;
    margin-left: 15%;
    gap: 5%;
    font-size: 17px;
    margin-bottom: 6%;
}

.time {
    font-size: 15px;
    line-height: 0.7;
}

.main {
    display: flex;
    gap: 2%;
    color: orangered;
    font-size: large;
}

.breakfast-list {
    line-height: 0.2;
    align-items: center;

}

.prices {
    color: white;
    display: flex;
    justify-content: space-between;
    line-height: 0.4;

}

.ankole-breakfast {
    margin-top: 8%;
}

#ankole-logo {
    height: 80px;
    width: 100px;
}

.breakfast-detail {
    line-height: 1.5;

    p {
        font-size: 15px;
    }
}

.breakfast-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3%;

}

.ankole-big {
    display: flex;
    gap: 3%;
    align-items: center;
    width: 80%;
}

.soup-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0.4;
}

#food {
    margin-top: 5%;
}

#soup {
    margin-bottom: 2%;
    color: orangered;
}

.sandwich {
    margin: 3%;
    color: orangered;

}

#salad {
    margin: 5% 0;
    color: orangered;
}

#orange-text {
    color: orangered;
    margin-top: 7%;
    margin-bottom: 3%;

}

.fries {
    margin-top: 7%;
}

.wings {
    margin-top: 7%;
}

#sentences {
    margin-top: 4%;
    font-size: 14px;
}

.contact-icons {
    display: flex;
    gap: 0.7%;
    border-color: white;
    font-size: 15px;
}

#whatsapp {
    right: 4%;
    border: 1px solid rgb(104, 102, 102);
    font-size: xx-large;
    bottom: 6%;
    padding: 0.5% 0.7%;
    border-radius: 50%;
    background-color: rgb(22, 20, 20);
    color: rgb(245, 241, 241);
    position: absolute;
    position: fixed;

    a {
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
}








@media only screen and (max-width: 430px) {


    .menu img {
        height: 100px;
        width: 250px;
        margin-top: 17%;
        margin-left: 7vh;
        margin-bottom: -1%;
    }

    .menu-page {
        flex-direction: column;
        overflow-y: hidden;
        height: 100vh;
        font-size: 15px;
    }

    #sentences {
        margin-top: 4%;
        width: 100%;
        font-size: 14px;
    }

    .left-section {
        width: 100%;
        height: 1200vh;
    }

    .right-section {
        width: 100%;
        background-color: black;
        color: white;
    }

    .list {
        width: 85%;
        margin: auto;
    }

    .top-bar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-left: -4%;
        font-size: 12px;
    }

    .time {
        font-size: 12px;
        line-height: 0.7;
    }

    .main {
        display: flex;
        width: 100%;
        gap: 2%;
        color: orangered;
        font-size: 11px;
    }

    .breakfast-list {
        line-height: 0.2;
        align-items: center;
    }

    .prices {
        color: white;
        display: flex;
        justify-content: space-between;
        line-height: 1.15;

    }

    .ankole-breakfast {
        margin-top: 8%;
    }

    #ankole-logo {
        height: 80px;
        width: 100px;
    }

    .breakfast-detail {
        line-height: 1.5;

        p {
            font-size: 15px;
        }
    }

    .breakfast-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2%;
        font-size: 10px;

    }

    .ankole-big {
        display: flex;
        gap: 3%;
        align-items: center;
        width: 80%;
    }

    .soup-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 0.9;
    }

    #food {
        margin-top: 5%;
    }

    #soup {
        margin-bottom: 2%;
        color: orangered;
    }



    .contact-icons {
        display: flex;
        gap: 0.7%;
        border-color: white;
        font-size: 15px;
    }

    #whatsapp {
        right: 10%;
        border: 1px solid rgb(104, 102, 102);
        font-size: xx-large;
        bottom: 55%;
        padding: 0.5% 0.7%;
        border-radius: 50%;
        background-color: rgb(22, 20, 20);
        color: rgb(245, 241, 241);
        position: absolute;
        position: fixed;

    }

    .menu {
        margin-top: 2%;
        margin-left: 4%;
        line-height: 0.6;

        p {
            color: white;
            margin-left: 40%;
            font-size: 20px;
        }

        h1 {
            font-size: 50px;
            color: orangered;
            text-align: center;
            margin-right: 7%;
        }

    }

    nav {
        position: absolute;
        bottom: 90%;
        left: 50%;
        width: 92%;
        font-size: 10px;

        a {
            text-decoration: none;
            color: white;
        }


        i {
            color: gray;
            font-size: 15px;
        }

        a:hover {
            color: gray;
        }

        #clock {
            font-size: 15px;
        }
    }



    #booking-button {
        height: 22px;
        width: 90px;
        background-color: rgb(90, 88, 88);
        border-radius: 50px;
        border: none;
        font-size: 13px;
        color: white;
        padding-top: 1.5%;
        padding-left: 1%;
    }

}


@media only screen and (min-width: 431px) and (max-width: 768px) {
    .menu img {
        height: 150px;
        width: 250px;
        margin-top: 15%;
        margin-left: 30%;
        margin-bottom: -8%;
    }

    .menu-page {
        flex-direction: column;
        overflow-y: hidden;
        height: 120vh;
        font-size: 15px;
    }

    #sentences {
        margin-top: 4%;
        width: 100%;
        font-size: 18px;
    }

    .left-section {
        width: 100%;
        height: 80vh;
    }

    .right-section {
        width: 100%;
        background-color: black;
        color: white;
    }

    .list {
        width: 85%;
        margin: auto;
        font-size: 15px;
    }

    .top-bar {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-left: -4%;
        font-size: 22px;
    }

    .time {
        font-size: 17px;
        line-height: 0.7;
    }

    .main {
        display: flex;
        width: 100%;
        gap: 2%;
        color: orangered;
        font-size: 25px;
    }

    .breakfast-list {
        line-height: 0.2;
        align-items: center;
        font-size: 55px;

    }

    .prices {
        color: white;
        display: flex;
        justify-content: space-between;
        line-height: 1.4;
        font-size: 20px;

    }

    .ankole-breakfast {
        margin-top: 8%;
    }

    #ankole-logo {
        height: 80px;
        width: 100px;
    }

    .breakfast-detail {
        line-height: 1.5;

        p {
            font-size: 18px;
        }
    }

    .breakfast-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2%;
        font-size: 20px;
    }

    .ankole-big {
        display: flex;
        gap: 3%;
        align-items: center;
        width: 80%;
        font-size: 15px;
    }

    .soup-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 0.9;
        font-size: 14px;
    }

    #food {
        margin-top: 5%;
    }

    #soup {
        margin-bottom: 2%;
        color: orangered;
    }

    #whatsapp {
        right: 4%;
        border: 1px solid rgb(104, 102, 102);
        font-size: xx-large;
        bottom: 35%;
        padding: 0.5% 0.7%;
        border-radius: 50%;
        background-color: rgb(22, 20, 20);
        color: rgb(245, 241, 241);
        position: absolute;
        position: fixed;
    }

    .menu {
        margin-top: -3%;
        margin-left: 3%;
        line-height: 0.6;
        padding-bottom: 2%;

        p {
            color: white;
            margin-left: 39%;
            font-size: 30px;
        }

        h1 {
            font-size: 40px;
            color: orangered;
            text-align: center;
            margin-right: 7%;
        }

    }

    nav {
        position: absolute;
        bottom: 90%;
        left: 50%;
        width: 92%;
        font-size: 16px;

        a {
            text-decoration: none;
            color: white;
        }


        i {
            color: gray;
            font-size: 20px;
        }

        a:hover {
            color: gray;
        }

        #clock {
            font-size: 20px;
        }
    }



    #booking-button {
        height: 20px;
        width: 90px;
        background-color: rgb(90, 88, 88);
        border-radius: 50px;
        border: none;
        font-size: 13px;
        color: white;
        padding-top: 1%;
        padding-left: 1%;
    }

    .soup-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 0.9;
        font-size: 15px;
    }

}


@media only screen and (min-width: 769px) and (max-width: 1024px) {


    .menu img {
        height: 170px;
        width: 250px;
        margin-top: 25%;
        margin-left: 35%;
        margin-bottom: -10%;
    }

    .menu-page {
        flex-direction: column;
        overflow-y: hidden;
        height: 120vh;
        font-size: 15px;
    }

    #sentences {
        margin-top: 4%;
        width: 100%;
        font-size: 26px;
    }

    .left-section {
        width: 100%;
        height: 80vh;
    }

    .right-section {
        width: 102%;
        background-color: black;
        color: white;
    }

    .list {
        width: 85%;
        margin: auto;
        font-size: 15px;
    }

    .top-bar {
        display: flex;
        width: 95%;
        justify-content: space-between;
        margin-left: 0%;
        font-size: 27px;
    }

    .time {
        font-size: 25px;
        line-height: 0.7;
    }

    .main {
        display: flex;
        width: 100%;
        gap: 2%;
        color: orangered;
        font-size: 30px;
    }

    .breakfast-list {
        line-height: 0.2;
        align-items: center;
        font-size: 55px;

    }

    .prices {
        color: white;
        display: flex;
        justify-content: space-between;
        line-height: 0.8;
        font-size: 26px;

    }

    .ankole-breakfast {
        margin-top: 8%;
    }

    #ankole-logo {
        height: 80px;
        width: 100px;
    }

    .breakfast-detail {
        line-height: 1.5;

        p {
            font-size: 28px;
        }
    }

    .breakfast-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2%;
        font-size: 20px;
    }

    .ankole-big {
        display: flex;
        gap: 3%;
        align-items: center;
        width: 80%;
        font-size: 25px;
    }

    .soup-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 0.9;
        font-size: 14px;
    }

    #food {
        margin-top: 5%;
        font-size: 30px;
    }

    #soup {
        margin-bottom: 2%;
        color: orangered;
        font-size: 30px;
    }


    #whatsapp {
        right: 4%;
        border: 1px solid rgb(104, 102, 102);
        font-size: xx-large;
        bottom: 35%;
        padding: 0.5% 0.7%;
        border-radius: 50%;
        background-color: rgb(22, 20, 20);
        color: rgb(245, 241, 241);
        position: absolute;
        position: fixed;

        a {
            text-decoration: none;
            z-index: 5;
            color: white;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .menu {
        margin-top: -3%;
        margin-left: 3%;
        line-height: 0.6;
        padding-bottom: 5%;

        p {
            color: white;
            margin-left: 43%;
            font-size: 20px;
        }

        h1 {
            font-size: 50px;
            color: orangered;
            text-align: center;
            margin-right: 7%;
        }

    }

    nav {
        position: absolute;
        bottom: 90%;
        left: 50%;
        width: 92%;
        font-size: 25px;

        i {
            color: gray;
            font-size: 30px;
        }

        #clock {
            font-size: 30px;
        }
    }


    #booking-button {
        height: 20px;
        width: 170px;
        background-color: rgb(90, 88, 88);
        border-radius: 50px;
        border: none;
        font-size: 25px;
        color: white;
        padding-top: 0.5%;
        padding-bottom: 2%;
        padding-left: 1%;
    }

    .soup-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 0.9;
        font-size: 23px;
    }

    #salad {
        margin: 5% 0;
        color: orangered;
        font-size: 30px;
    }

    .sandwich {
        margin: 3%;
        color: orangered;
        font-size: 80px;


    }

}