@font-face {
    font-family: poppins;
    src: url(poppins/Poppins-Regular.ttf);
}

body {
    font-family: poppins;
    margin: auto;
}

.karibu-text {
    margin-top: 5%;
    margin-left: 4%;
    line-height: 0.6;

    p {
        color: white;
        margin-left: 45%;
        margin-top: 15%;
        font-size: 25px;
    }

    h1 {
        font-size: 60px;
        color: orangered;
        text-align: center;
        margin-right: 2%;

    }
}

.reservation {
    display: flex;
    overflow-y: hidden;
    height: 100vh;
    font-size: 15px;
    justify-content: space-between;
}

.left-part {
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Ankole/reserve.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
    align-items: center;

}

.karibu-text img {
    height: 200px;
    width: 270px;
    margin-top: 1%;
    margin-left: 30vh;
    margin-bottom: 10%;
}

.navigation {
    position: fixed;
    display: flex;
    height: 50px;
    width: 39%;
    gap: 4%;
    background-color: black;
    padding: 1%;
    border-radius: 50px;
    position: absolute;
    top: 87vh;
    align-items: center;
    margin-left: 27%;
    padding-left: 2%;
    background-color:rgb(8, 8, 8)
}


#icon {
    font-size: 22px;
    color: white;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation a:hover{
    color: gray;

}
.navigation button {
    height: 50px;
    width: 150px;
    background-color: rgb(90, 88, 88);
    border-radius: 30px;
    border: none;
    font-size: 17px;
    color:white
}
.navigation button:hover{
    background-color: white;
    color: black;
}

.right-section {
    width: 50%;
    background-color: black;
    color: black;
    padding-left: 5%;
    padding-top: 3%;
}

input {
    width: 85%;
    height: 45px;
    border: gray 1px solid;
    background-color: black;
    margin-bottom: 1.5%;
    margin-top: 0.5%;
    color: white;
}

label {
    font-size: 13px;
}

.input-group {
    margin-top: 1%;
    margin: auto;
    color: darkgray;
    margin-bottom: 2%;
    background-color: black;
    /* box-shadow: 0px 10px 10px -5px rgb(247, 247, 247); */
}

#icon {
    color: white;
}



button {
    width: 85%;
    height: 63px;
    margin-top: 1%;
    border-radius: 15px;
    font-size: 19px;
    border: none;
}
.contact-icons{
    display: flex;
    gap: 0.7%;
    border-color: white;
    font-size: 15px;  
}
#whatsapp{
    position: absolute;
    border: 1px solid rgb(192, 190, 190);
    width:3%;
    height: 30px;
    font-size: 35px;
    text-align: center;
    border-radius: 100px;
    padding-bottom: 0.8%;
    padding-top: 0.5%;
    color: rgb(212, 206, 206); 
    top:90vh;
    left: 94%;
}